header
  h1.logo Brilliance
  nav.site-nav
    ul
      li: a(href="#1") О нас
      li: a(href="#2") Наши свадьбы
      li: a(href="#3") Блог
      li: a(href="#4") Цены
      li: a(href="#5") Портфолио
      li: a(href="#6") Сделать расчет
      
  a(href="mailto:info@svadebnijgid.com").email-link +email me
